<div class="table-caption"><i class="fa-solid fa-chart-simple"></i> Player Statistics</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th colspan="5" class="header">Throws</th>
                <th colspan="5" class="header">Points</th>
            </tr>
            <tr>
                <th>Player</th>
                <th>T</th>
                <th>C</th>
                <th>B</th>
                <th>M</th>
                <th>CR</th>
                <th>T</th>
                <th>+</th>
                <th>-</th>
                <th>Net</th>
                <th>SR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of game.team1.players" [attr.color-scheme]="game.team1.teamColor.colorScheme"
                class="bag">
                <ng-container [ngTemplateOutlet]="statRow"
                    [ngTemplateOutletContext]="{name: player.name, stats: player.stats}"></ng-container>
            </tr>
            <tr *ngIf="game.team1.players.length > 1" [attr.color-scheme]="game.team1.teamColor.colorScheme"
                class="bag">
                <ng-container [ngTemplateOutlet]="statRow"
                    [ngTemplateOutletContext]="{name: 'Total', stats: game.team1.stats}"></ng-container>
            </tr>
            <tr *ngFor="let player of game.team2.players" [attr.color-scheme]="game.team2.teamColor.colorScheme"
                class="bag">
                <ng-container [ngTemplateOutlet]="statRow"
                    [ngTemplateOutletContext]="{name: player.name, stats: player.stats}"></ng-container>
            </tr>
            <tr *ngIf="game.team2.players.length > 1" [attr.color-scheme]="game.team2.teamColor.colorScheme"
                class="bag">
                <ng-container [ngTemplateOutlet]="statRow"
                    [ngTemplateOutletContext]="{name: 'Total', stats: game.team2.stats}"></ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

<ng-template #statRow let-stats="stats" let-name="name">
    <td>{{name}}</td>
    <td class="stat details">{{stats?.totalThrows}}</td>
    <td class="stat details">{{stats?.throwResults[throwResult.Cornhole]}}</td>
    <td class="stat details">{{stats?.throwResults[throwResult.OnBoard]}}</td>
    <td class="stat details">{{stats?.throwResults[throwResult.OffBoard]}}</td>
    <td class="stat details">{{stats?.cornholeRate | percent: '1.1-1'}}</td>
    <td class="stat details">{{stats?.totalPoints}}</td>
    <td class="stat details">{{stats?.pointsGained}}</td>
    <td class="stat details">{{stats?.pointsLost}}</td>
    <td class="stat details">{{stats?.pointsGained - stats?.pointsLost}}</td>
    <td class="stat details">{{stats?.scoringRate | number: '1.2-2'}}</td>
</ng-template>