table {
    background: linear-gradient(135deg, var(--clr-tan), white, var(--clr-tan));
    border-radius: 0.5rem;
    border: solid 1px var(--clr-dark-brown);
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 0.2);
    box-shadow: 2px 2px 4px 2px rgb(var(--cc-dark-brown) / 0.2);

    caption {
        font-weight: bold;
    }

    td {
        padding: 0.25rem;

        &.stat {
            text-align: right;
        }
    }

    tbody {
        td {
            border: solid 1px black;
        }
    }
}
