.streak {
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
    }
}
