@import '../../../styles.scss';

.complete-round {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.button-bar {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
