.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 1rem 0;
}

.complete-round {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.button-bar {
    justify-content: flex-start;
}
