<div *ngIf="showOptions" class="overlay" (click)="showOptions = false;">
    <ch-game-options [game]="game" (click)="$event.stopPropagation()" (teamColorChanged)="teamColorChanged.emit($event)"
        (resetStats)="resetStats.emit($event)" (resetStreak)="resetStreak.emit(game)" (resetGame)="resetGame.emit(game)"
        (closeOptions)="showOptions = false">
    </ch-game-options>
</div>
<div *ngIf="showPlayerStats" class="overlay" (click)="showPlayerStats = false;">
    <ch-player-stats></ch-player-stats>
</div>
<div *ngIf="showFullScoreboard" class="overlay" (click)="showFullScoreboard = false;">
    <ch-full-scoreboard [game]="game" (click)="$event.stopPropagation()" (resetStats)="resetStats.emit($event)"
        (resetStreak)="resetStreak.emit(game)" (resetGame)="resetGame.emit(game)"
        (close)="gameSummaryClosed()"></ch-full-scoreboard>
</div>
<div>
    <ch-scoreboard [game]="game"></ch-scoreboard>
    <ch-round [round]="activeRound"
        [disabled]="activeRound.complete && activeRound != game.rounds[game.rounds.length -1]"
        (roundScoreChanged)="roundScoreChanged.emit($event)"></ch-round>
    <div class="complete-round">
        <ng-container *ngIf="game.rounds[game.rounds.length - 1].complete">
            <button *ngIf="!game.complete" mat-raised-button color="primary" (click)="completeRound.emit(game)">Complete
                Round</button>
            <button *ngIf="game.complete" mat-raised-button color="primary" (click)="showFullScoreboard = true">Game
                Summary</button>
        </ng-container>
    </div>
    <div class="button-bar">
        <button type="button" class="button-icon" mat-icon-button (click)="showFullScoreboard = true">
            <i class="fas fa-clipboard"></i>
        </button>
        <button type="button" class="button-icon" mat-icon-button (click)="showOptions = true">
            <i class="fas fa-cog" [class.fa-spin]="showOptions"></i>
        </button>
    </div>
</div>