:root {
    --cc-tan: 215, 190, 150;
    --clr-tan: rgb(var(--cc-tan));
    --clr-light-tan: color-mix(in srgb, var(--clr-tan), white 60%);
    --cc-dark-brown: 120 65 0;
    --clr-dark-brown: rgb(var(--cc-dark-brown));
    --clr-gray: rgb(128 128 128);
    --body-background: #fff;
	--banner-color: rgb(0, 107, 137);
    --bag-red: rgb(255, 0, 0);
    --bag-orange: rgb(255 140 0);
    --bag-yellow: rgb(241 201 39);
    --bag-blue: rgb(0 0 255);
    --bag-navy: rgb(0 0 128);
    --bag-green: rgb(0 128 0);
    --bag-purple: rgb(128 0 255);
    --bag-green: rgb(0 128 0);
    --bag-pink: rgb(255 77 166);   
    --bag-brown: rgb(128 64 0);
    --bag-black: rgb(0 0 0);
    --bag-gray: rgb(180 180 180);
    --bag-white: rgb(255 255 255);
}

[color-scheme] {
    --design-color: color-mix(in srgb, var(--background-color), var(--text-color) 40%);
    --light-color: color-mix(in srgb, var(--background-color), white 80%);
}

[color-scheme='red'] {
    --background-color: var(--bag-red);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='orange'] {
    --background-color: var(--bag-orange);
    --text-color: rgb(0 0 0);
    --alt-color: rgb(255 255 255);
}

[color-scheme='yellow'] {
    --background-color: var(--bag-yellow);
    --text-color: rgb(0 0 0);
    --alt-color: rgb(255 255 255);
    --design-color: color-mix(in srgb, var(--background-color), var(--alt-color) 40%);
}

[color-scheme='blue'] {
    --background-color: var(--bag-blue);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='navy'] {
    --background-color: var(--bag-navy);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='green'] {
    --background-color: var(--bag-green);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='purple'] {
    --background-color: var(--bag-purple);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='pink'] {
    --background-color: var(--bag-pink);
    --text-color: rgb(0 0 0);
    --alt-color: rgb(255 255 255);
    --design-color: color-mix(in srgb, var(--background-color), var(--alt-color) 40%);
}

[color-scheme='brown'] {
    --background-color: var(--bag-brown);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(0 0 0);
}

[color-scheme='black'] {
    --background-color: var(--bag-black);
    --text-color: rgb(255 255 255);
    --alt-color: rgb(150 150 150);
}

[color-scheme='gray'] {
    --background-color: var(--bag-gray);
    --text-color: rgb(0 0 0);
    --alt-color: rgb(255 255 255);
}

[color-scheme='white'] {
    --background-color: var(--bag-white);
    --text-color: rgb(0 0 0);
    --alt-color: rgb(255 255 255);
    --light-color: color-mix(in srgb, var(--background-color), black 10%);
}

.bag {
    background-color: var(--background-color);
    color: var(--text-color);

    .details {
        background-color: var(--light-color);
        color: black;
    }

    &[design='vertical-stripes'] {
        background: repeating-linear-gradient(
            90deg,
            var(--background-color),
            var(--background-color) 2px,
            var(--design-color) 3px,
            var(--design-color) 4px
        );
    }

    &[design='diagonal-stripes'] {
        background: repeating-linear-gradient(
            45deg,
            var(--background-color),
            var(--background-color) 2px,
            var(--design-color) 3px,
            var(--design-color) 4px
        );
    }
}
