.score-component {
    --winner-width: 1fr;
    --player-width: 3fr;
    --score-width: 1fr;
    --streak-width: auto;
}

@keyframes winner {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 1.5em;
    }
}

.team1,
.team2 {
    display: grid;
    gap: 0.4rem;
    justify-content: center;
    grid-template-areas: var(--gta);
    align-items: center;
}

.team1 {
    --gta: 'winner streak players score';

    grid-template-columns: var(--winner-width) var(--streak-width) var(--player-width) var(--score-width);
    text-align: right;
}

.team2 {
    --gta: 'score players streak winner';

    grid-template-columns: var(--score-width) var(--player-width) var(--streak-width) var(--winner-width);
    text-align: left;
}

.icon {
    grid-area: winner;
    padding: 0.1em;
    align-self: center;
    justify-self: center;

    &.winner:before {
        font-size: 1.5em;
        content: '\f521';
        border-radius: 50%;
        padding: 0.3em;
        border: solid 2px black;
        box-shadow:
            0 0 2px rgba(200, 200, 200, 0.4),
            2px 2px 4px 2px rgba(0, 0, 0, 0.4);
        color: yellow;
        animation-name: winner;
        animation-duration: 400ms;
        animation-iteration-count: 5;
        animation-direction: alternate;
    }
}

.players {
    grid-area: players;
    text-overflow: ellipsis;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.score {
    grid-area: score;
    font-size: 3em;
}

.streak {
    position: relative;
    grid-area: streak;

    &::after {
        content: attr(streak);
        position: absolute;
        inset: 0;
        padding-top: 25%;
        border-radius: 50%;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        color: white;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
    }
}

.fa-fire {
    position: relative;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 4px 6px;
    border: solid 2px yellow;
    background: linear-gradient(yellow, orange);
    color: darkorange;

    &::before {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        border: solid 2px red;
    }
}
