.score-component {
    --winner-width: 1fr;
    --cornhole-rate-width: 1fr;
    --score-rate-width: 1fr;
    --streak-width: 1fr;
    --score-width: 1fr;
    --row-height: 2em 3em;

    @media (min-width: 600px) {
        --row-height: 2em 0.9em;
    }
}

@keyframes winner {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 1.5em;
    }
}

.team1 {
    --gta: 'players players players score' 'cornhole-rate score-rate streak score';

    grid-template-columns:
        var(--cornhole-rate-width) var(--score-rate-width) var(--streak-width)
        var(--score-width);

    @media (min-width: 600px) {
        --gta: 'winner players players players score' 'winner cornhole-rate score-rate streak score';
        grid-template-columns:
            var(--winner-width) var(--cornhole-rate-width) var(--score-rate-width) var(--streak-width)
            var(--score-width);
    }
    display: grid;
    grid-template-rows: var(--row-height);
    grid-template-areas: var(--gta);
    text-align: right;
    align-items: flex-end;
    padding-right: 0.4em;
}

.team2 {
    --gta: 'score players players players' 'score streak score-rate cornhole-rate';
    grid-template-columns: var(--score-width) var(--streak-width) var(--score-rate-width) var(--cornhole-rate-width);

    @media (min-width: 600px) {
        --gta: 'score players players players winner' 'score streak score-rate cornhole-rate winner';
        grid-template-columns:
            var(--score-width) var(--streak-width) var(--score-rate-width) var(--cornhole-rate-width)
            var(--winner-width);
    }
    display: grid;
    grid-template-rows: var(--row-height);
    grid-template-areas: var(--gta);
    text-align: left;
    align-items: flex-end;
    padding-left: 0.4em;
}

.icon {
    grid-area: winner;
    padding: 0.1em;
    align-self: center;
    justify-self: center;

    &.winner:before {
        font-size: 1.5em;
        content: '\f521';
        border-radius: 50%;
        padding: 0.3em;
        border: solid 2px black;
        box-shadow: 0 0 2px rgba(200, 200, 200, 0.4), 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
        color: yellow;
        animation-name: winner;
        animation-duration: 400ms;
        animation-iteration-count: 5;
        animation-direction: alternate;
    }
}

.players {
    grid-area: players;
    text-overflow: ellipsis;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.score {
    grid-area: score;
    font-size: 3em;
}

.cornhole-rate {
    grid-area: cornhole-rate;
    font-style: italic;
}

.score-rate {
    grid-area: score-rate;
    font-style: italic;
}

.streak {
    grid-area: streak;
    font-style: italic;
}
