@import '../../../assets/scss/colors.scss';

.team1 {
    & .mat-button-toggle-checked i {
        color: rgb(var(--team1-background-color));
    }
}

.team2 {
    & .mat-button-toggle-checked i {
        color: rgb(var(--team2-background-color));
    }
}

.container mat-button-toggle-group {
    box-shadow:
        0 0 2px rgba(200, 200, 200, 0.2),
        2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.mat-button-toggle {
    line-height: 48px;

    &.board {
        background-color: tan;
    }

    &.on-board {
        &:not(.mat-button-toggle-checked) {
            & i {
                visibility: hidden;
            }
        }
    }

    &.cornhole {
        border-bottom: 1px solid var(--clr-dark-brown);
        &:not(.mat-button-toggle-checked) {
            color: black;
        }
    }

    &.off-board {
        background-color: green;

        &.mat-button-toggle-checked i {
            color: red;
        }

        &:not(.mat-button-toggle-checked) i {
            visibility: hidden;
        }
    }
}

i {
    font-size: 1.5em;
}
