:root {
    --team1-background-color: 0 0 255;
    --team2-background-color: 255 0 0;
    --team1-color: 255 255 255;
    --team2-color: 255 255 255;
}

.team1-background-color {
    background-color: rgb(var(--team1-background-color));
}

.team2-background-color {
    background-color: rgb(var(--team2-background-color));
}

.team1-color {
    color: rgb(var(--team1-color));
}

.team2-color {
    color: rgb(var(--team2-color));
}
