<div class="container">
    <ch-round-throws [teamNumber]="1" [teamColor]="team1Color" [throws]="round.team1Throws" [disabled]="disabled"
        (throwResultChanged)="roundScoreChanged.emit(round)">
    </ch-round-throws>
    <div class="score bag" [attr.color-scheme]="team1Color.colorScheme">
        <ch-round-team-score [totalScore]="round.team1TotalScore" [netScore]="round.team1NetScore">
        </ch-round-team-score>
    </div>
    <div class="score bag" [attr.color-scheme]="team2Color.colorScheme">
        <ch-round-team-score [totalScore]="round.team2TotalScore" [netScore]="round.team2NetScore">
        </ch-round-team-score>
    </div>
    <ch-round-throws [teamNumber]="2" [teamColor]="team2Color" [throws]="round.team2Throws" [disabled]="disabled"
        (throwResultChanged)="roundScoreChanged.emit(round)">
    </ch-round-throws>
</div>