<div class="container">
    <div>
        <ch-round-throws [teamNumber]="1" [throws]="round.team1Throws" [disabled]="disabled"
            (throwResultChanged)="roundScoreChanged.emit(round)">
        </ch-round-throws>
        <div class="team1">
            <ch-round-team-score [totalScore]="round.team1TotalScore" [netScore]="round.team1NetScore">
            </ch-round-team-score>
        </div>
    </div>
    <div>
        <ch-round-throws [teamNumber]="2" [throws]="round.team2Throws" [disabled]="disabled"
            (throwResultChanged)="roundScoreChanged.emit(round)">
        </ch-round-throws>
        <div class="team2">
            <ch-round-team-score [totalScore]="round.team2TotalScore" [netScore]="round.team2NetScore">
            </ch-round-team-score>
        </div>
    </div>
</div>