@import '../../../styles.scss';

.container {
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & > div {
        margin: 1em 0;
    }
}

.team1 {
    background-color: var(--team1-background-color);
    color: var(--team1-color);
}

.team2 {
    background-color: var(--team2-background-color);
    color: var(--team2-color);
}
