@import '../../../styles.scss';

.container {
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & > div {
        margin-top: 1em;
    }

    & .score-container {
        padding: 0.2em 0.6em;
        border-top: solid 0.2em rgba(0, 0, 0, 0.4);
        border-bottom: solid 0.2em rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5em;

        & .score {
            text-align: right;
        }
    }
}

.team1 {
    background-color: var(--team1-background-color);
    color: var(--team1-color);
}

.team2 {
    background-color: var(--team2-background-color);
    color: var(--team2-color);
}
