.team-options {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;

    .mat-icon-button {
        font-size: 2em;
    }

    .bag {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.4em;
        border: solid 2px black;
    }

    mat-form-field input {
        margin-top: 1rem;
    }
}

.fa-palette {
    color: var(--clr-dark-brown);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
