<ch-card [title]="'Game Options'">
  <ng-container header>
    @if(canCloseOptions()) {
    <button type="button" mat-icon-button class="button--close" (click)="closeOptions.emit()">
      <i class="fas fa-times"></i>
    </button>
    }
  </ng-container>
  <ng-container content>
    <div>
      <div class="row">
        <h3>Game Type</h3>
        <mat-radio-group (change)="teamPlayersChanged($event)">
          <mat-radio-button value="1" [checked]="game().team1.players.length === 1">1 v 1</mat-radio-button>
          <mat-radio-button value="2" [checked]="game().team1.players.length === 2">2 v 2</mat-radio-button>
        </mat-radio-group>
      </div>

      <ng-container *ngTemplateOutlet="teamOptionsTemplate; context: {
        title: 'Team 1',
        team: game().team1,
        labelOffset: 0
      }"></ng-container>

      <ng-container *ngTemplateOutlet="teamOptionsTemplate; context: {
        title: 'Team 2',
        team: game().team2,
        labelOffset: game().team1.players.length
      }"></ng-container>

      <div class="button-bar">
        <h3>Add Player</h3>
        <button type="button" mat-icon-button (click)="openAddPlayerDialog()" title="Add new player">
          <i class="fas fa-user-plus"></i>
        </button>
      </div>

      <div class="button-bar">
        <button type="button" mat-raised-button color="primary" (click)="resetStreak.emit(game())">Reset
          Streak</button>
        <button type="button" mat-raised-button color="primary" (click)="resetGame.emit(game())">Reset Game</button>
      </div>
    </div>

    <ng-template #teamOptionsTemplate let-title="title" let-team="team" let-labelOffset="labelOffset">
      <div class="row" space-between>
        <h3>{{ title }}</h3>
        <div>
          <div class="button-bar">
            <div class="bag" [attr.color-scheme]="team.teamColor.colorScheme" [attr.design]="team.teamColor.design">
            </div>
            <button mat-icon-button (click)="pickTeamColor(team)">
              <i class="fas fa-palette"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div>
          @for (player of team.players; track player; let i = $index) {
          <div>
            <mat-form-field>
              <mat-label>Player {{ i + 1 + labelOffset }}</mat-label>
              <mat-select panelClass="player-picker-panel" [ngModel]="player.id"
                (ngModelChange)="setTeamPlayer(team.players[i], $event)">
                @for (appPlayer of availablePlayers(player); track appPlayer.id) {
                <mat-option [value]="appPlayer.id">{{ playerLabel(appPlayer) }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          }
        </div>
        @if (team.players.length > 1) {
        <button mat-icon-button (click)="swapPlayers(team)">
          <i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i>
        </button>
        }
      </div>
    </ng-template>
  </ng-container>
</ch-card>