.team-options {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    justify-content: center;
    gap: 1rem;

    .mat-icon-button {
        font-size: 2em;
    }

    .bag {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.4em;
        border: solid 2px black;
    }

    mat-form-field input {
        margin-top: 1rem;
    }
}

.fa-palette {
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
    color: rgb(var(--clr-tan));
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
    border-radius: 50%;
    background-color: var(--clr-dark-brown);
    border: solid 0.25rem rgb(0 0 0);
    padding: 0.25rem;
}
