.color-option {
    border-radius: 0.2em;
    margin: 0.2em;
    height: 2em;
    width: 2em;
    border: solid 2px black;
}

.team-options {
    display: grid;
    align-items: center;
    grid-template-columns: auto 4em;
    gap: 1em;

    .mat-icon-button {
        font-size: 2em;
    }

    &__name {
        padding: 0.25em 0.5em;
        font-size: 2rem;
        border-radius: 0.2em;
        border: solid 2px black;
    }
}

.button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
}
