.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & > div {
        margin-bottom: 1em;

        &:not(:last-child) {
            margin-right: 2em;
        }
    }
}
