<section>
    @if (isLoading) {
    <p>Loading event...</p>
    } @else if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    } @else if (event) {
    <h2>{{ event.name }}</h2>
    <p class="event-date">{{ event.event_date | date: 'mediumDate' }}</p>
    @if (!event.complete) {
    <ch-live-games [eventId]="event.id"></ch-live-games>
    }
    <ch-overall-stats [event]="event"></ch-overall-stats>
    <ch-team-stats [event]="event"></ch-team-stats>
    <ch-individual-stats [event]="event"></ch-individual-stats>
    <ch-games [event]="event"></ch-games>
    }
</section>