<section>
    @if (isLoading) {
    <p>Loading event...</p>
    } @else if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    } @else if (event) {
    <h2>{{ event.name }}</h2>
    <p class="event-date">{{ event.event_date | date: 'mediumDate' }}</p>
    @if (!event.complete) {
    <ch-live-games [eventId]="event.id"></ch-live-games>
    }
    @if (appStateService.eventTeamStats().length && appStateService.eventIndividualStats().length) {
    <ch-stats [stats]="appStateService.eventOverallStats()" [title]="'Overall Stats'"></ch-stats>
    }
    @if (appStateService.eventTeamStats().length) {
    <ch-stats [stats]="appStateService.eventTeamStats()" [title]="'Team Stats'"></ch-stats>
    }
    @if (appStateService.eventIndividualStats().length) {
    <ch-stats [stats]="appStateService.eventIndividualStats()" [title]="'Individual Stats'"></ch-stats>
    }
    <ch-games [event]="event"></ch-games>
    }
</section>