@use '../assets/scss/vars.scss' as vars;

:host {
    --toolbar-height: 3rem;
    --mat-toolbar-mobile-height: 3rem;
    --mat-toolbar-standard-height: 3rem;
    display: block;
}

mat-toolbar.mat-toolbar {
    background: var(--banner-color);
    color: #fff;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 0.25), 0 0 2px 1px rgb(0 0 0 / 0.5);
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--header-font-family);
    }   
}

mat-icon.menu-icon,
.app-title {
    text-shadow: black .05em .05em 0;
}

.app-title {
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    position: relative;
    margin: var(--toolbar-height) 0 0 0 ;
    min-height: calc(100vh - var(--toolbar-height));

    &::before {
        content: '';
        position: fixed;
        left: 50%;
        top: calc(var(--toolbar-height) + ((100vh - var(--toolbar-height)) / 2));
        transform: translate(-50%, -50%);
        width: min(80vw, 100vh - var(--toolbar-height));
        height: min(80vw, 100vh - var(--toolbar-height));
        background-image: url('../assets/images/cornhole.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: opacity(0.3);
        pointer-events: none;
    }
}

.logo {
    background: black;
    position: relative;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: solid 0.25rem white;

    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        inset: 0;
        border: solid 1px black;
    }

    &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        inset: -0.25rem;
        border: solid 1px black;
    }

    .bag {
        height: .75em;
        width: .75em;
        border-radius: 0.25rem;
        border: solid 2px black;
        transform: rotate(-30deg);
    }
}

.fa.fa-square {
    position: absolute;
    color: var(--bag-yellow);
    inset: 0;
}