<mat-toolbar class="app-toolbar" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Open menu">
    <i class="fas fa-bars"></i>
  </button>
  <div class="app-title">
    <div class="logo">
      <div class="bag" color-scheme="yellow" design="solid"></div>
    </div>
    <h1>Cornhole</h1>
  </div>
</mat-toolbar>

<mat-menu #appMenu>
  <a mat-menu-item routerLink="/score-keeper" routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }">Score Keeper</a>
  <a mat-menu-item routerLink="/games" routerLinkActive="is-active">Games</a>
  <a mat-menu-item routerLink="/events" routerLinkActive="is-active">Events</a>
  <button mat-menu-item [matMenuTriggerFor]="statisticsMenu">Statistics</button>
  <a mat-menu-item routerLink="/players" routerLinkActive="is-active">Players</a>
</mat-menu>

<mat-menu #statisticsMenu="matMenu">
  <a mat-menu-item routerLink="/player-stats" routerLinkActive="is-active">Overall Statstics</a>
  <a mat-menu-item routerLink="/team-stats" routerLinkActive="is-active">Team Statistics</a>
  <a mat-menu-item routerLink="/individual-stats" routerLinkActive="is-active">Individual Statistics</a>
</mat-menu>

<main class="content">
  <router-outlet></router-outlet>
</main>