<ch-card title="Scoreboard">
    <ng-container header>
        <button type="button" mat-icon-button class="button--close" (click)="close.emit()">
            <i class="fas fa-times"></i>
        </button>
    </ng-container>
    <ng-container content>
        <div>
            <div class="container">
                <div class="table">
                    <div class="header">R</div>
                    <div class="header team team1">
                        <div *ngFor="let player of game.team1.players">{{player.name}}</div>
                    </div>
                    <div class="header team team2">
                        <div *ngFor="let player of game.team2.players">{{player.name}}</div>
                    </div>
                    <ng-container *ngFor="let round of game.rounds">
                        <div class="round">
                            <div>{{(game.rounds.indexOf(round) + 1)}}</div>
                            <div *ngIf="round.team1NetScore > 0" class="team1">+{{round.team1NetScore}}</div>
                            <div *ngIf="round.team2NetScore > 0" class="team2">+{{round.team2NetScore}}</div>
                            <div *ngIf="round.team1NetScore === 0 && round.team2NetScore === 0" class="tie"></div>
                        </div>
                        <div class="team team1 results">
                            <div *ngFor="let throw of round.team1Throws">
                                <ch-throw-result-icon [throw]="throw"> </ch-throw-result-icon>
                            </div>
                            <div class="score">{{round.team1TotalScore}}</div>
                        </div>
                        <div class="team team2 results">
                            <div class="score">{{round.team2TotalScore}}</div>
                            <div *ngFor="let throw of round.team2Throws">
                                <ch-throw-result-icon [throw]="throw"> </ch-throw-result-icon>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="table">
                <div class="total-row">T</div>
                <div class="total-row team team1">{{game.team1Score}}</div>
                <div class="total-row team team2">{{game.team2Score}}</div>
                <div class="total-row">Cornholes</div>
                <div class="team1 stats">
                    <div *ngFor="let player of game.team1.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.Cornhole]}}
                    </div>
                </div>
                <div class="team2 stats">
                    <div *ngFor="let player of game.team2.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.Cornhole]}}
                    </div>
                </div>
                <div class="total-row">On Board</div>
                <div class="team1 stats">
                    <div *ngFor="let player of game.team1.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.OnBoard]}}
                    </div>
                </div>
                <div class="team2 stats">
                    <div *ngFor="let player of game.team2.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.OnBoard]}}
                    </div>
                </div>
                <div class="total-row">Misses</div>
                <div class="team1 stats">
                    <div *ngFor="let player of game.team1.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.OffBoard]}}
                    </div>
                </div>
                <div class="team2 stats">
                    <div *ngFor="let player of game.team2.players">{{player.name}}:
                        {{player.stats.throwResults[throwResult.OffBoard]}}
                    </div>
                </div>
                <div class="total-row">SR</div>
                <div class="team1 stats">
                    <div *ngFor="let player of game.team1.players">{{player.name}}:
                        {{player.stats.scoringRate | number: '1.2-2'}}
                    </div>
                </div>
                <div class="team2 stats">
                    <div *ngFor="let player of game.team2.players">{{player.name}}:
                        {{player.stats.scoringRate | number: '1.2-2'}}
                    </div>
                </div>
                <div class="total-row">CR</div>
                <div class="team1 stats">
                    <div *ngFor="let player of game.team1.players">{{player.name}}:
                        {{player.stats.cornholeRate | percent: '1.1-1'}}
                    </div>
                </div>
                <div class="team2 stats">
                    <div *ngFor="let player of game.team2.players">{{player.name}}:
                        {{player.stats.cornholeRate | percent: '1.1-1'}}
                    </div>
                </div>
                <div class="total-row"><i class="fas fa-fire"></i></div>
                <div class="team1 stats">
                    <ng-container *ngIf="game.team1.scoreStreak > 0">+{{game.team1.scoreStreak}}</ng-container>
                    <ng-container *ngIf="game.team1.scoreStreak === 0">N/A</ng-container>
                </div>
                <div class="team2 stats">
                    <ng-container *ngIf="game.team2.scoreStreak > 0">+{{game.team2.scoreStreak}}</ng-container>
                    <ng-container *ngIf="game.team2.scoreStreak === 0">N/A</ng-container>
                </div>
            </div>
        </div>
        <div class="button-bar">
            <ng-container *ngIf="!game.complete">
                <button type="button" mat-raised-button color="primary" (click)="resetStats.emit(game)">Reset
                    Stats</button>
                <button type="button" mat-raised-button color="primary" (click)="resetStreak.emit(game)">Reset
                    Streak</button>
                <button type="button" mat-raised-button color="primary" (click)="resetGame.emit(game)">Reset
                    Game</button>
            </ng-container>
            <ng-container *ngIf="game.complete">
                <button type="button" mat-raised-button color="primary" (click)="close.emit()">Finish Game</button>
            </ng-container>
        </div>
    </ng-container>
</ch-card>