<ch-card title="Bag Design">
    <ng-container header>
    </ng-container>
    <ng-container content>
        <div class="container">
            <div class="example bag"
                [style]="'--background-color: ' + teamColor.bagColor.backgroundColor + ';--highlight-color: ' + teamColor.bagColor.textColor + ';'"
                [class.solid]="teamColor.design === designOptions.Solid"
                [class.vertical-stripes]="teamColor.design === designOptions.VerticalStripes"
                [class.diagonal-stripes]="teamColor.design === designOptions.DiagonalStripes">
            </div>
            <h3>Pattern</h3>
            <mat-radio-group (change)="onDesignChanged($event)">
                <mat-radio-button [checked]="teamColor.design == designOptions.Solid" [value]="designOptions.Solid"
                    checked>Solid</mat-radio-button>
                <mat-radio-button [checked]="teamColor.design == designOptions.VerticalStripes"
                    [value]="designOptions.VerticalStripes">Vertical Stripes</mat-radio-button>
                <mat-radio-button [checked]="teamColor.design == designOptions.DiagonalStripes"
                    [value]="designOptions.DiagonalStripes">Diagonal Stripes</mat-radio-button>
            </mat-radio-group>
            <h3>Color</h3>
            <div class="color-options">
                <div *ngFor="let color of teamColors"
                    [style]="'--background-color: ' + color.bagColor.backgroundColor + ';--highlight-color: ' + color.bagColor.textColor + ';'"
                    class="color-option bag" [class.selected]="teamColor.name === color.name"
                    (click)="selectBagColor(color)">
                </div>
            </div>
            <div class="button-bar">
                <button mat-raised-button color="primary" (click)="onOk()">Ok</button>
                <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </ng-container>
</ch-card>