@use './assets/scss/colors.scss';
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$brown-palette, 500);
$accent: mat.define-palette(mat.$green-palette, 600);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.core-theme($theme);
@include mat.button-theme($theme);

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif, 'FoundrySterling-Book', Arial;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    background: var(--body-background);
    min-height: 100vh;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

@media (min-width: 800px) {
    body {
        font-size: 1rem;
    }
}

.icon:before {
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.card {
    background: rgb(250 250 250);
    border: solid 1px black;
    border-radius: 0.25rem;
    padding: 0 1rem;

    &__header {
        h2 {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 1rem;
        }
    }
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

.mat-mdc-icon-button.button--close {
    color: #800000;
}

.fa-cog {
    color: dimgrey;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.fa-clipboard {
    color: var(--clr-dark-brown);
}

.fa-chart-bar {
    color: red;
    background: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: solid 1px red;
}

.button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    &.vertical {
        flex-direction: column;
        margin-top: 0.25rem;
    }

    .fa,
    .fas {
        border-radius: 50%;
        padding-top: 15%;
        text-align: center;
        height: 2.5rem;
        width: 2.5rem;
        background: rgb(255 255 255 / 0.25);
        outline: solid 0.1825rem rgb(0 0 0 / 0.1);
        border: solid 0.125rem rgb(255 255 255 / 0.5);
    }
}

.button {
    cursor: hand;

    &.button-icon {
        i {
            font-size: 1.5rem;
        }
    }
}

table {
    background: var(--clr-light-tan);
    position: relative;
    width: 100%;
    border-spacing: 0;

    caption {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
    thead,
    tfoot {
        background: var(--clr-tan);
    }

    thead tr:last-of-type th {
        border-bottom: solid 1px var(--clr-dark-brown);
    }

    tfoot tr:first-of-type td {
        border-top: solid 1px var(--clr-dark-brown);
    }

    tbody {
        tr:not(:last-of-type) td {
            border-bottom: solid 1px rgb(0 0 0 / 0.4);
        }
    }
}

.table-caption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.table-container {
    overflow: auto;
    border-radius: 0.25rem;
    border: solid 1px var(--clr-dark-brown);
    box-shadow: 2px 2px 4px 2px rgb(var(--cc-dark-brown) / 0.2);
}

.fixed-header {
    max-height: 30vh;

    table {
        thead,
        tfoot {
            background: var(--clr-tan);
            position: sticky;
            z-index: 1;
        }

        thead {
            inset-block-start: 0;
        }

        tfoot {
            inset-block-end: 0;

            td {
                text-align: center;
            }
        }
    }
}
