@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-light-blue, 400);
$accent: mat-palette($mat-teal);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

* {
    font-family: Roboto, 'Helvetica Neue', sans-serif, 'FoundrySterling-Book', Arial;
}

body {
    padding: 0;
    margin: 0;
}

.icon:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
