@use './assets/scss/colors.scss';
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$brown-palette, 500);
$accent: mat.define-palette(mat.$green-palette, 600);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.core-theme($theme);
@include mat.button-theme($theme);

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif, 'FoundrySterling-Book', Arial;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    background-color: #d8d9e9;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

@media (min-width: 800px) {
    body {
        font-size: 1rem;
    }
}

.icon:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.mat-icon-button i {
    font-size: 1.5em;
}

.card {
    background: white;
    border: solid 1px black;
    border-radius: 4px;
    padding: 0.5em 1em 0 1em;

    &__header {
        h2 {
            margin: 0;
        }

        margin-bottom: 1em;
    }

    &__content {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 1em;
        }
    }
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

button {
    i {
        font-size: 1.5rem;
    }
}

.button {
    &--close {
        color: #800000;
    }
}

.fa-cog {
    color: dimgrey;
}

.fa-chart-bar {
    color: red;
    background: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: solid 1px red;
}
